*
!/.gitignore

# Notes
!/.notes/
!/.notes/**/
!/.notes/**/*.txt
!/.notes/**/*.md

# Assets
!/.assets/
!/.assets/**/

## Fonts
!/.assets/**/*.ttf

# Configurations

!/.config/
!/.config/**/

# Setupfile

!/.config/setup.yml

## Alacritty
!/.config/alacritty/*.yml

# Re-Ignore
.DS_Store
